<div fxLayout="column" fxFill fxFlex="100" fxLayoutGap="40px" fxLayoutAlign="space-around center" style="background-color: #fff;">
  <div fxLayout="row" fxLayoutAlign="center center" style="background-color: #fbfafa; width: 100%;">
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <img height="92" width="92" src="../../../assets/images/hotdog.svg">
      <div class="title-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Contact!</div>
      <button class="primary-btn" ngClass.xs="xs" ngClass.sm="sm" ngClass.gt-sm="gt-sm" [routerLink]="['/menu']" routerLinkActive="active">Back to Menu</button>
    </div>
  </div>
</div>