<div fxLayout="column" fxFill fxFlex="100" fxLayoutGap="40px" fxLayoutAlign="space-around center" style="background-color: #fff;">
  <div fxLayout="row" fxLayoutAlign="center center" style="background-color: #fbfafa; width: 100%;">
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <img height="92" width="92" src="../../../assets/images/hotdog.svg">
      <div class="title-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Dirty Dogs serves all-beef, vegan and vegetarian hot dogs.</div>
      <button class="primary-btn" ngClass.xs="xs" ngClass.sm="sm" ngClass.gt-sm="gt-sm">More Dogs ‘n Make Em Hot</button>
    </div>
  </div>
  <div fxLayout.xs="column" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row">
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start end"></div>
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="start start" class="bullet" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md"
          ngClass.gt-md="gt-md">
          <div class="header-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Gourmet All Beef Hot Dogs</div>
          <div class="detail-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem
            lacinia quam venenatis vestibulum.</div>
        </div>
      </div>
    </div>
    <div fxFlex="50" class="image-section">
      <img [ngStyle.xs]="{'height.px': 215, 'width.px': 300}" [ngStyle.sm]="{'height.px': 285, 'width.px': 400}" [ngStyle.md]="{'height.px': 360, 'width.px': 500}"
        [ngStyle.gt-md]="{'height.px': 500, 'width.px': 700}" src="../../../assets/images/beef.png">
    </div>
  </div>
  <div fxLayout.xs="column" fxLayout.sm="column" fxLayout.gt-sm="row-reverse" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row">
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start end"></div>
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="start start" class="bullet" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md"
          ngClass.gt-md="gt-md">
          <div class="header-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Vegan Hot Dogs</div>
          <div class="detail-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem
            lacinia quam venenatis vestibulum.</div>
        </div>
      </div>
    </div>
    <div fxFlex="50" class="image-section">
      <img [ngStyle.xs]="{'height.px': 215, 'width.px': 300}" [ngStyle.sm]="{'height.px': 285, 'width.px': 400}" [ngStyle.md]="{'height.px': 360, 'width.px': 500}"
        [ngStyle.gt-md]="{'height.px': 500, 'width.px': 700}" src="../../../assets/images/vegan.png">
    </div>
  </div>
  <div fxLayout.xs="column" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row">
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start end"></div>
        <div fxFlex="80" fxLayout="column" fxLayoutAlign="start start" class="bullet" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md"
          ngClass.gt-md="gt-md">
          <div class="header-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Vegetarian Hot Dogs</div>
          <div class="detail-text" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.gt-md="gt-md">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem
            lacinia quam venenatis vestibulum.</div>
        </div>
      </div>
    </div>
    <div fxFlex="50" class="image-section">
      <img [ngStyle.xs]="{'height.px': 215, 'width.px': 300}" [ngStyle.sm]="{'height.px': 285, 'width.px': 400}" [ngStyle.md]="{'height.px': 360, 'width.px': 500}"
        [ngStyle.gt-md]="{'height.px': 500, 'width.px': 700}" src="../../../assets/images/vegetarian.png">
    </div>
  </div>
</div>